@font-face {
  font-family: "iconfont"; /* Project id 4294020 */
  src: url('iconfont.woff2?t=1697704249839') format('woff2'),
       url('iconfont.woff?t=1697704249839') format('woff'),
       url('iconfont.ttf?t=1697704249839') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-display-code:before {
  content: "\e792";
}

.icon-all-fill:before {
  content: "\e7a4";
}

.icon-paperplane-fill:before {
  content: "\e7a9";
}

